<!----------BLOGPOST: Details--------->

@model Blogit.Models.BlogPost

<section id="contact" class="section section-blue">
    <div class="container">
        <h4 id="Top" class="font-white">@Html.DisplayFor(model => model.Title)</h4>
        <p class="text-center font-white">
            @Html.DisplayFor(model => model.Teaser)<br />
            <div class="post-subtitle">@Html.DisplayFor(model => model.Teaser)</div>
        </p>
        <hr />

        @*<div class="blankdivider30">
            </div>*@

        <section id="blog">
            <div class="row">
                <div class="col-lg-12">
                    <div class="home-post">
                        <div class="entry-content">
                            <p>
                                Written by @Html.DisplayFor(model => model.Author)
                                on @Html.DisplayFor(model => model.Created)
                            </p>
                            <hr />

                            <p>
                                @Html.DisplayFor(model => model.Body)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

