<!----------BLOGPOST: Details--------->

@model Blogit.Models.BlogPost

<section id="contact" class="section section-blue">
    <div class="container">
        <h4 id="Top" class="font-white">@Html.DisplayFor(model => model.Title)</h4>
        <p class="text-center font-white">
            @Html.DisplayFor(model => model.Teaser)<br />

        </p>
        <hr />
        <sup>
            Written by @Html.DisplayFor(model => model.Author)
            on @Html.DisplayFor(model => model.Created)
        </sup>

        @*<div class="blankdivider30">
            </div>*@

        <section id="blog">
            <div class="row">
                <div class="col-lg-12">
                    <p class="details-body">
                        @Html.DisplayFor(model => model.Body)
                    </p>
                    <p>
                        @Html.ActionLink("Back to List", "Index", "Home")
                    </p>
                </div>
            </div>
        </section>
    </div>
</section>

