<!----------BLOGPOST: Details--------->

@model Blogit.Models.BlogPost

<section id="contact" class="section section-blue">
    <div class="container">
        <h4 id="Top">@Html.DisplayFor(model => model.Title)</h4>
        <p class="text-center">
            Written by @Html.DisplayFor(model => model.Author)
            on @Html.DisplayFor(model => model.Created)
        </p>
        <hr />

        <div class="blankdivider30">
        </div>

        <div class="row">
            <div class="col-lg-12 col-lg-offset-2">
                <p>
                    @Html.DisplayFor(model => model.Body)
                </p>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = Model.Id })|
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
    </div>
</section>

