@model Blogit.Models.BlogPost

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="row">
    <div class="col-lg-3">
        <h4>Title</h4>
    </div>
    <div class="col-lg-3">
        <h4>Author</h4>
    </div>
    <div class="col-lg-3">
        <h4>Body</h4>
    </div>
    <div class="col-lg-3">
        <h4>Created</h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        @Html.DisplayFor(model => model.Title)
    </div>
    <div class="col-lg-3">
        @Html.DisplayFor(model => model.Author)
    </div>
    <div class="col-lg-3">
        @Html.DisplayFor(model => model.Body)
    </div>
    <div class="col-lg-3">
        @Html.DisplayFor(model => model.Created)
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id })|
    @Html.ActionLink("Back to List", "Index")
</p>
