<!--------BLOGPOST:INDEX---------->


<section id="contact" class="section section-blue">
    <div class="container">
        <h4 class="font-white">@User.Identity.Name.ToUpper()'s Posts</h4>

        <div class="blankdivider30">
        </div>
        <section id="blog" class="section">
            <div class="container">

                <div class="text-right">
                    @Html.ActionLink("Write Post", "Create")
                </div>

                @foreach (var post in ViewBag.PostList)
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="home-post">
                                <div class="post-image">
                                    <img class="max-img" src="http://placehold.it/795x300" alt="" />
                                </div>
                                <div class="entry-content">
                                    <h5><strong>@post.Title | <span class="date">@post.Created.ToString("dd MMM yyyy")</span></strong></h5>
                                    <div class="post-subtitle">@post.Teaser</div>
                                    <p>
                                        @post.Body
                                    </p>
                                    @Html.ActionLink("Edit", "Edit", "BlogPost", new { id = post.Id }, null) |
                                    @Html.ActionLink("Delete", "Delete", "BlogPost", new { id = post.Id }, null)

                                </div>
                            </div>
                        </div>
                    </div>
                }

                <a href="#Top">Back to Top</a>

            </div>
        </section>
    </div>
</section>
