<!--------HOME:INDEX---------->


<section id="contact" class="section section-coral">
    <div class="container">
        <h4 class="font-white">Welcome to Blogit!</h4>
        <p class="font-white text-center">
            Check out some of the public blogs posted by our members!
        </p>
        <hr />
        <div class="blankdivider30">
        </div><section id="blog" class="section">
            <div class="container">
                <div class="row">
                    @foreach (var post in ViewBag.PostList)
                    {
                        <div class="col-md-4">
                            <div class="home-post">
                                <div class="entry-content">
                                    <h5><strong>@post.Title</strong></h5>
                                    <hr />
                                    <p>
                                        <sup>
                                            Written by @post.Author
                                            on <span class="date">@post.Created.ToString("dd MMM yyyy")</span>
                                        </sup>
                                    </p>
                                    <p>
                                        @post.Teaser &hellip;
                                    </p>
                                   @Html.ActionLink("Read More", "Details", "BlogPost", new { id = post.Id }, new { @class = "read-more" })
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <a href="#Top">Back to Top</a>
        </section>
    </div>
</section>
